@import './variable';
@import './reset';

header {
    color: $--white;

    .top-header {
        background-color: $--green;
        padding: 15px 0;

        .icon-box {
            i {
                color: $--white;
            }
        }
    }

    .bottom-header {
        padding: 10px 0;

        nav {
            a {
                color: $--black;
            }
        }

        i {
            color: $--green;
        }

        .button-call {
            background-color: $--green;
            border: $--green;
            border-radius: 50px;
            width: 170px;
            height: 60px;
            font-weight: 700;
            cursor: pointer;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;

            &:hover {
                background-color: $background-color_1;
                color: $color_1;
                transition: .5s ease-in;
                -webkit-transition: .5s ease-in;
                -moz-transition: .5s ease-in;
                -ms-transition: .5s ease-in;
                -o-transition: .5s ease-in;
            }

            &:not(:hover) {
                transition: .5s ease-in;
                -webkit-transition: .5s ease-in;
                -moz-transition: .5s ease-in;
                -ms-transition: .5s ease-in;
                -o-transition: .5s ease-in;
            }

        }

    }
}